body {
  margin: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

span.circle {
  display: inline-block;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

div.off {
  background-color: black;
}

div.on {
  background-color: white;
}

span.off {
  background-color: rgb(37, 37, 37);
}

span.on {
  background-color: rgb(250, 234, 132);
  box-shadow: 0 5px 20px 10px rgba(250, 234, 132, 0.5);
}
