h1,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 39px;
  letter-spacing: 3px;
  margin-bottom: 16px;
}

h3 {
  font-size: 12px;
  letter-spacing: 1px;
}

p {
  color: rgb(57, 57, 57);
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.2px;
}

img {
  width: 75%;
}

.container {
  font-family: 'Karla', sans-serif;
  max-width: 900px;
  padding: 40px;
  margin: auto;
}

.row-head {
  display: flex;
  padding: 24px;
}

.column-full {
  flex-basis: 100%;
  text-align: center;
  padding: 0 120px;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  flex-basis: calc(100% / 2);
  display: flex;
  padding-bottom: 32px;
}

.row {
  display: flex;
}

.column-three-fourths {
  flex-basis: 75%;
  padding-top: 16px;
  padding-right: 44px;
  padding-left: 8px;
}

.button-div {
  text-align: center;
  margin: 10px;
}

.learn-more-button {
  font-family: 'Karla', sans-serif;
  color: rgb(228, 62, 61);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.7px;
  background-color: white;
  border: solid 2px rgb(228, 62, 61);
  padding: 8px 34px;
}

.column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

div.row-wrap > p {
  padding-right: 48px;
}
